In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
data = pd.read_csv('titanic_data.csv', index_col='PassengerId')

In [3]:
X = data[['Pclass', 'Fare', 'Sex', 'Age', 'Survived']]

In [4]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 5 columns):
Pclass      891 non-null int64
Fare        891 non-null float64
Sex         891 non-null object
Age         714 non-null float64
Survived    891 non-null int64
dtypes: float64(2), int64(2), object(1)
memory usage: 41.8+ KB

In [5]:
X = X.dropna()

In [6]:
Y = X['Survived']
X = X.drop('Survived', axis=1)

In [7]:
X.head()

             Pclass     Fare     Sex   Age
PassengerId
1                 3   7.2500    male  22.0
2                 1  71.2833  female  38.0
3                 3   7.9250  female  26.0
4                 1  53.1000  female  35.0
5                 3   8.0500    male  35.0

In [8]:
sex_to_int = {'male': 1, 'female': 0}

X.loc[:, 'Sex'] = X['Sex'].map(sex_to_int)

In [9]:
clf = DecisionTreeClassifier(random_state=241)

In [10]:
clf.fit(X, Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

In [11]:
importances = clf.feature_importances_

In [13]:
print(importances)
X.columns

[0.14000522 0.30343647 0.30051221 0.2560461 ]

Index(['Pclass', 'Fare', 'Sex', 'Age'], dtype='object')

In [14]:
with open('answer.txt', 'w') as answer:
    answer.write('Fare Sex')